:root {
  background: rgb(201, 201, 201);
}

.card {
  background-color: darkgrey;
}

img {
  height: 420px;
  width: 500px;
}


header {
  color: rgb(144, 0, 0);
  background-color: rgb(41, 115, 168);
}

footer {
  color: rgb(144, 0, 0);
  background-color: rgb(41, 115, 168);
}